* {   
    margin: 0;
     padding: 0;
     box-sizing: border-box;
 
     font-family: "sans-light";
     font-weight: 600;
     font-style: normal;
     font-size: 62.5%;

  }
 
 body {
     background-color: var(--bg-white);
     color: var(--bg-black);
 }
 
 @font-face {
     font-family: "roboto-bold";
     src: url(./fonts/Roboto-Bold.ttf);
 }
 
 @font-face {
     font-family: "sans-light";
     src: url(./fonts/OpenSans-Light.ttf);
 }
 
 @font-face {
     font-family: "sans-bold";
     src: url(./fonts/OpenSans-Bold.ttf);
 }
 
 .roboto-bold {
     font-family: "roboto-bold";
 }
 
 .sans-bold {
     font-family: "sans-bold";
 }
 
 .sans-light {
     font-family: "sans-light";
 }
 
 :root {
 
   --bg-purple: #701e7d;
   --bg-yellow: #ffd400;
   --bg-white: #ffffff;
   --bg-black: #000000;
   --bg-dark: #1f1e1e;
   --bg-gray: #5a5a5a;
   --bg-dark-gray: #e6e6e6;
   --bg-light-gray: #f6f6f6;
 }
 
 .bg-gray {
   background-color: var(--bg-gray);
 }
 
 .bg-purple {
   background-color: var(--bg-purple);
 }
 
 .bg-yellow {
   background-color: var(--bg-yellow);
 }
 
 .bg-white {
   background-color: var(--bg-white);
 }
 
 .bg-black {
   background-color: var(--bg-black);
 }
 
 .bg-dark {
   background-color: var(--bg-dark);
 }
 
 .bg-dark-gray {
   background-color: var(--bg-dark-gray);
 }
 
 .bg-light-gray {
   background-color: var(--bg-light-gray);
 }

 :root {
 
   --color-purple: #701e7d;
   --color-yellow: #ffd400;
   --color-white: #ffffff;
   --color-black: #000000;
   --color-dark: #1f1e1e;
   --color-gray: #5a5a5a;
   --color-dark-gray: #e6e6e6;
   --color-light-gray: #f6f6f6;
 }
 
 .color-gray {
   color: var(--color-gray);
 }
 
 .color-purple {
   color: var(--color-purple);
 }
 
 .color-yellow {
   color: var(--color-yellow);
 }
 
 .color-white {
   color: var(--color-white);
 }
 
 .color-black {
   color: var(--color-black);
 }
 
 .color-dark {
   color: var(--color-dark);
 }
 
 .color-dark-gray {
   color: var(--color-dark-gray);
 }
 
 .color-light-gray {
   color: var(--color-light-gray);
 }
.color-purple {
    color: var(--color-purple);
}